@import "./tailwind.css";
@import "./base.css";

body {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

#app {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.lined-paper {
	background-image: linear-gradient(rgb(0 102 255 / 10%) 1px, transparent 0px);
	background-size: 100% 30px;
  }